@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#121212] text-gray-200 min-h-screen font-sans;
  }
}

.neumorphic-out {
  @apply shadow-neumorphicout bg-background;
}

.neumorphic-in {
  @apply shadow-neumorphicin bg-background;
}

.neumorphic-btn {
  @apply neumorphic-out hover:neumorphic-in transition-all duration-300 active:scale-95;
}
