@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#121212] text-gray-200 min-h-screen font-sans;
  }
}

@layer components {

  /* Using plain CSS for these to avoid @apply conflicts in production builds */
  .neumorphic-out {
    background-color: #121212;
    box-shadow: 8px 8px 16px #0b0b0b, -8px -8px 16px #191919;
  }

  .neumorphic-in {
    background-color: #121212;
    box-shadow: inset 8px 8px 16px #0b0b0b, inset -8px -8px 16px #191919;
  }

  .neumorphic-btn {
    @apply transition-all duration-300 active:scale-95;
    background-color: #121212;
    box-shadow: 8px 8px 16px #0b0b0b, -8px -8px 16px #191919;
    border-radius: 0.75rem;
    /* rounded-xl */
  }

  .neumorphic-btn:hover {
    box-shadow: inset 8px 8px 16px #0b0b0b, inset -8px -8px 16px #191919;
  }
}